/* Logo de OneGeek (au centre) */
#logo_OG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/* Les 2 coins en haut et à droite, en bas et à gauche */
#corner_TR
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

#corner_BL
{
    position: absolute;
    bottom: 0;
    z-index: 3;
}

body {
  font-family: tahoma;
  height: 100vh;
  background-color: #282828;
  background-position: center;
  display: flex;
  align-items: center;
}

a.lien:link 
{ 
 text-decoration:none;
 color: #f7f5ec;
 font-weight: bold;
}

.name {
  font-weight: bold;
}

.our-team {
  padding: 10px 0 40px;
  margin-bottom: 30px;
  background-color: #282828;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #D84320;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #D84320;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #282828;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #f7f5ec;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #D84320;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}